:root {
    color-scheme: dark;
}

@font-face {
    font-family: 'MOBO';
    src: url('assets/fonts/MOBO.otf');
}

* {
    font-family: 'MOBO';
}

html, body {
    background-color: #111;
    margin: 0;
    padding: 0;
    text-align: center;
}

.page {
    width: 90vw;
    height: 90vh;
    position: absolute;
    top: 5vh;
    left: 5vw;
    background-color: #000;
}

.title {
    width: 90vw;
    height: 100px; 
}

.halfa {
    width: calc(45vw - 20px);
    height: calc(90vh - 120px);
    position: absolute;
    padding: 10px;
}

.halfb {
    width: calc(45vw - 20px);
    height: calc(90vh - 120px);
    position: absolute;
    left: 45vw;
    padding: 10px;
}

.full {
    width: calc(90vw - 20px);
    padding: 10px;
}

button.a {
    width: 170px;
    height: 50px;
    border: 1px solid white;
    background-color: #000;
    padding: 0;
    margin-top: 10px;
}

button.a:hover {
    background-color: #222;
}

button.a span.a {
    float: left;
    width: 10%;
    height: 100%;
}

button.a span.b {
    vertical-align: middle;
    float: right;
    width: 90%;
    height: 100%;
    padding: auto 0;
}

button.a span.b p {
    font-size: 20px;
    margin: 15px 0;
    line-height: 1;
}

button.a span.b small {
    font-size: 10px;
}