img.icon {
    width: 200px;
    height: 200px;
}

h1, h2, h3, p {
    line-height: 1.1;
}

.thirdc h1 {
    line-height: 1;
}

div {
    text-align: center;
}

.s {
    text-align: center;
    position: absolute;
	width: 80%;
	height: 20px;
    left: 10%;
    margin: 0;
    padding: 0;
}

.s div {
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.s a {
    font-size: 12px;
}

.arrow {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}

.arrow.left {
	border-right: 10px solid #333;
}

.arrow.right {
	border-left: 10px solid #333;
}

.rect {
	width: 80%;
	height: 20px;
	background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    vertical-align: top;
}

.rect p {
    font-size: 18px;
    line-height: 0;
    margin: auto 0;
}